<!-- TODO: Create Esc KeyPress directive to close options when pressing -->
<div
  class="container"
  clickedOutside
  (atOutsideClick)="closePicker()"
>
  <div class="relative">
    <div class="flex h-11 w-full border rounded-xl focus-within:border-black overflow-hidden">
      <div class="flex justify-center items-center min-w-12 min-h-100 bg-slate-200 text-gray-400">
        <fa-icon [icon]="calendarIcon"></fa-icon>
      </div>
      <input type="hidden" name="date" [required]="required">
      <input
        type="text"
        readonly
        class="w-full pl-4 pr-10 py-3 leading-none rounded-lg shadow-sm focus:outline-none focus:shadow-outline"
        [required]="required"
        [placeholder]="placeholder"
        [(ngModel)]="parsedDate"
        (click)="showDatepicker = !showDatepicker"
      >
    </div>

    @if(showDatepicker) {
      <div class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0 z-10 min-w-72 max-w-full">
        <div class="flex justify-between items-center mb-2">
          <button
            type="button"
            class="w-7 h-7 flex justify-center align-center items-center transition ease-in-out duration-100 cursor-pointer hover:bg-gray-200 rounded-full"
            [ngClass]="{ 'cursor-not-allowed opacity-25': month == 0 }"
            [disabled]="month == 0 ? true : false"
            (click)="month = month -1; getNoOfDays()"
          >
            <fa-icon class="text-gray-500" [icon]="prevIcon"></fa-icon>
          </button>
          <div class="flex flex-col">
            <span class="text-lg font-bold text-gray-800">{{MONTH_NAMES[month]}}</span>
            <span class="ml-1 text-gray-600 font-normal">{{year}}</span>
          </div>
          <button
              type="button"
              class="w-7 h-7 flex justify-center align-center items-center transition ease-in-out duration-100 cursor-pointer hover:bg-gray-200 rounded-full"
              [ngClass]="{'cursor-not-allowed opacity-25': month == 11 }"
              [disabled]="month == 11 ? true : false"
              (click)="month = month +1; getNoOfDays()"
            >
              <fa-icon class="text-gray-500" [icon]="nextIcon"></fa-icon>
          </button>
        </div>

        <div class="mb-3 -mx-1 grid grid-cols-7">
          <div *ngFor="let day of DAYS; let i = index" class="">
            <div class="" class="px-1">
              <div class="text-gray-800 font-medium text-center text-xs">{{day}}</div>
            </div>
          </div>
        </div>

        <div class="-mx-1 grid grid-cols-7">
          @for(blankday of blankdays; track $index) {
            <div>
              <div class="text-center border p-1 border-transparent text-sm"></div>
            </div>
          }

          <!-- TODO: Fix style. Text color should be white when date is selected or date is today. It ends gray -->
          @for(date of monthDays; track $index) {
            <div class="grid grid-cols-7">
              <div class="m-1">
                <button (click)="getDateValue(date)"
                  class="min-w-8 min-h-8 self-center text-center text-sm rounded-full leading-loose transition ease-in-out duration-100"
                  [ngClass]="
                    {
                      'bg-blue-500 text-white': isToday(date),
                      'bg-blue-400 border border-gray-700 text-white': isDateSelected(date),
                      'text-gray-700 hover:bg-blue-200': !isToday(date) || !isDateSelected(date)
                    }">
                  {{ date }}
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>