<div class="w-screen h-screen p-3">
  <header>
    <h1 class="text-3xl">Crea una actividad</h1>
  </header>
  <main>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()" class="grid grid-cols-12 gap-2 p-2">
      <div class="col-span-5">
        <h3 class="text-xl">¿Qué estuviste haciendo?</h3>
        <div class="flex min-h-11 border rounded-xl overflow-hidden focus-within:border-black">
          <div class="flex justify-center items-center w-12 min-h-full bg-slate-200 text-gray-400">
            <fa-icon [icon]="activityIcon"></fa-icon>
          </div>
          <input type="text" formControlName="title" class="w-full min-h-full pl-3 py-2 pr-2 outline-none" placeholder="Email o nombre de usuario">
        </div>
      </div>

      <div class="col-span-4">
        <h3 class="text-xl">¿Cuándo pasó?</h3>
        <div class="flex gap-2">
          <date-picker formControlName="timestamp_start" [(ngModel)]="activityForm.value.timestamp_start" ngDefaultControl placeholder="Inicio de actividad"></date-picker>
          <date-picker formControlName="timestamp_end"   [(ngModel)]="activityForm.value.timestamp_end" ngDefaultControl placeholder="Fin de actividad"></date-picker>
        </div>
      </div>

      <div class="col-span-3">
        <h3 class="text-xl">¿Quién se va a enterar?</h3>
        <dropdown-list
          (onItemSelected)="selectedVisibility($event)"
          [items]="privacyOptions"
          placeholder="Privacidad"
        ></dropdown-list>
      </div>

      <div class="col-span-4">
        <h3 class="text-xl">¿Cuánto placer sentiste?</h3>
        <div class="flex justify-center">
          <rating></rating>
        </div>
      </div>

      <div class="col-span-4">
        <h3 class="text-xl">¿Cuánto te costó lograrlo?</h3>
        <div class="flex justify-center">
          <rating></rating>
        </div>
      </div>

      <div class="col-span-4">
        <h3 class="text-xl">¿Qué emociones puedes identificar?</h3>
        <dropdown-list
          class="max-w-10"
          (onItemSelected)="selectedEmotion($event)"
          [items]="emotionOptions"
          placeholder="Emociones"
        ></dropdown-list>
        <div class="flex gap-2 py-3 overflow-x-auto user-select-none">
          @for(emotion of emotions; track $index) {
            <div class="flex min-w-100 justify-between gap-2 rounded-full bg-slate-200 pl-4 pr-2 py-2">
              <div class="flex gap-2">
                <div class="flex justify-center items-center text-gray-400">
                  <fa-icon [icon]="activityIcon"></fa-icon>
                </div>
                {{ emotion }}
              </div>
              <button
                class="w-6 h-6 rounded-full flex justify-center items-center text-gray-400 hover:bg-slate-400 hover:text-gray-200"
                (click)="deleteEmotion(emotion)"
              >
                <fa-icon [icon]="xMarkIcon"></fa-icon>
              </button>
            </div>
          }
        </div>
      </div>

      <div class="col-span-8 flex flex-col">
        <h3 class="text-xl">¿Tienes algo más que decir?</h3>
        <div class="flex flex-grow border rounded-xl overflow-hidden focus-within:border-black">
          <div class="flex justify-center items-center w-12 h-100 bg-slate-200 text-gray-400">
            <fa-icon [icon]="activityIcon"></fa-icon>
          </div>
          <textarea formControlName="description" class="w-full flex-grow overflow-auto pl-3 py-2 pr-2 resize-none outline-none" placeholder="Ramiro"></textarea>
        </div>
      </div>

      <div class="h-fit col-span-4 flex flex-col gap-2 justify-between">
        <div class="flex flex-col gap-2">
          <div>
            <h3 class="text-xl">¿Quieres mostrar algo?</h3>
            <div class="flex overflow-x-auto gap-2 py-2">

              <label for="image-upload-1" class="min-w-20 min-h-20 flex justify-center items-center rounded-xl bg-gray-200 p-1 cursor-pointer text-gray-400 hover:cursor-pointer hover:bg-black hover:bg-opacity-20 transition ease-in duration-100">
                <div class="w-full h-full border border-dashed border-gray-400 flex justify-center items-center rounded-xl">
                  <fa-icon [icon]="circlePlusIcon"></fa-icon>
                </div>
                <input id="image-upload-1" type="file" accept="image/*" (change)="selectedFile($event)">
              </label>

              @for(url of activityForm.value.images; track url) {
                <div class="relative min-w-20 min-h-20 max-w-20 max-h-20 flex justify-center items-center rounded-xl bg-gray-200 cursor-pointer text-gray-400 overflow-hidden">
                  <div class="opacity-0 hover:opacity-100 transition ease-in duration-100 absolute inset-0 bg-cover bg-center z-0 bg-black bg-opacity-25 text-gray-200 w-full h-full flex justify-center items-center rounded-xl">
                    <fa-icon [icon]="trashIcon" (click)="deleteImage(url)"></fa-icon>
                  </div>
                  <div class="w-full h-full flex justify-center items-center rounded-xl">
                    <img [src]="url" alt="">
                  </div>
                </div>
              }
            </div>
          </div>
          <div>
            <h3 class="text-xl">¿Dónde pasó todo?</h3>
            <div class="flex border rounded-xl overflow-hidden focus-within:border-black">
              <iframe class="w-full" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=736&amp;height=415&amp;hl=en&amp;q=%20Le%C3%B3n+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
              </iframe>
              <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=da92064175b8381ca6de79f9181f6cfb1af2d7e0'>
              </script>
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="w-full p-3 flex justify-center align-middle rounded-xl focus-within:border-black bg-blue-400 gap-2 text-white" placeholder="Email o nombre de usuario"
          >
            <fa-icon [icon]="activityIcon"></fa-icon>
            Agregar actividad
          </button>
        </div>
      </div>
    </form>
  </main>
</div>
