<div class="flex h-screen justify-center items-center">
@if(!register) {
  <div class="flex flex-col bg-white border-2 rounded p-10 w-96 gap-4 rounded-xl">
		<header>
			<h1 class="text-3xl">Inicia sesión</h1>
		</header>

		<form class="flex flex-col gap-2">
			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="atIcon"></fa-icon>
				</p-inputGroupAddon>
				<input class="px-5" placeholder="Correo electrónico o nombre de usuario">
			</p-inputGroup>

			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="keyIcon"></fa-icon>
				</p-inputGroupAddon>
				<input class="px-5" type="password" placeholder="Contraseña">
			</p-inputGroup>

			<button (click)="toggleRegister()" class="text-blue-600 cursor-pointer visited:txt-blue visited:text-purple-600 text-end underline">¿No tienes cuenta? ¡Regístrate!</button>

			<button class="flex justify-center items-center bg-blue-500 hover:bg-blue-700 text-white py-2 rounded gap-2">
				<fa-icon [icon]="unlockIcon"></fa-icon>
				Siguiente
			</button>
		</form>
  </div>
} @else {
  <div class="flex flex-col bg-white border-2 rounded p-10 w-96 rounded-xl gap-3">
		<header class="flex flex-row items-center gap-2">
			<button class="rounded-full p-2 hover:bg-gray-100" (click)="toggleRegister()">
				<fa-icon [icon]="arrowLeftIcon"></fa-icon>
			</button>
			<h1 class="text-3xl">Crea una cuenta</h1>
		</header>

		<form class="flex flex-col gap-3">
			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="atIcon"></fa-icon>
				</p-inputGroupAddon>
				<input type="email" class="px-5" placeholder="Correo electrónico">
			</p-inputGroup>

			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="userIcon"></fa-icon>
				</p-inputGroupAddon>
				<input class="px-5" type="password" placeholder="Nombre de usuario">
			</p-inputGroup>

			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="keyIcon"></fa-icon>
				</p-inputGroupAddon>
				<input class="px-5" type="password" placeholder="Contraseña">
			</p-inputGroup>

			<p-inputGroup>
				<p-inputGroupAddon>
					<fa-icon [icon]="repeatIcon"></fa-icon>
				</p-inputGroupAddon>
				<input class="px-5" type="password" placeholder="Repetir contraseña">
			</p-inputGroup>

			<button class="flex justify-center items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 rounded gap-2">
				<fa-icon [icon]="logIcon"></fa-icon>
				Registrarse
			</button>
		</form>
  </div>
}
</div>